@import 'tailwindcss';
@config '../tailwind.config.ts';

@theme {
  --color-primary-60: #7a00ff;
  --color-primary-65: #8a1aff;
  --color-primary-70: #9a33ff;
  --color-primary-75: #aa4dff;
  --color-primary-90: #e4ccff;
  --color-primary-95: #f1e5ff;
  --color-primary-97: #f7f0ff;
  --color-primary-99: #fcfaff;
  --color-white-90: #e4e4e7;
  --color-white-95: #f1f1f3;
  --color-white-97: #f7f7f8;
  --color-white-99: #fcfcfd;
  --color-grey-08: #141414;
  --color-grey-10: #1a1a1a;
  --color-grey-15: #262626;
  --color-grey-20: #333333;
  --color-grey-30: #4d4d4d;
  --color-grey-40: #666666;
  --color-grey-50: #808080;
  --color-grey-60: #999999;
  --color-primary: #7a00ff;
  --color-gray: #808080;
}

@utility container {
  @apply mx-auto max-w-7xl px-4;
}

@layer base {
  body {
    @apply flex min-h-dvh flex-col overflow-x-hidden bg-black text-white;
  }
  input {
    @apply outline-none;
  }
  main {
    @apply flex flex-1 items-center justify-center;
  }
  button {
    @apply cursor-pointer;
  }
}
